*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: white;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    background-color: white;
}

h1{
    color:rgb(179, 131, 226, 0.4);
    font-size: 160px;
    text-align: center;
    margin-bottom: 150px;
}

#todo-input{
    border:none;
    color: #444;
    font-size: 32px;
    box-shadow: 0 0 10px #c8c8c8;
    width:350px;
    padding:10px 10px 10px 10px;
    margin-right: 10px;
}
#todo-input::placeholder {
    color: #d5d5d5;
}

#todo-input:focus {
    outline-color: #b383e2;
}

button{
padding: 10px;
border:none;
background-color:#b383e2 ;
color:white;
font-size:larger;
border-radius: 4px; 
height: 60px;
width: 80px;
}

button:hover {
    background-color: black;
    cursor: pointer;
}
    

ul {
list-style-type: none;
padding: 0;
}

li {
padding: 10px;
border: 1px solid #ddd;
border-radius: 5px;
margin-top: 10px;
display: flex;
justify-content: space-between;
align-items: center;
}

li button {
background-color: #b383e2;
padding: 5px 10px;
border: none;
color: white;
border-radius: 5px;
cursor: pointer;
}

li button:hover {
background-color: black;
cursor: pointer;
}


